certifi==2018.10.15
chardet==3.0.4
dill==0.2.9
googleapis-common-protos==1.5.3
grpcio==1.16.0
grpcio-tools==1.16.0
idna==2.7
ifaddr==0.1.4
ipaddress==1.0.22
lockfile==0.12.2
lore==0.6.30
pika==0.13.1
protobuf==3.6.1
python-daemon-3K==1.5.8
requests==2.20.1
six==1.11.0
urllib3==1.24.1
zeroconf==0.21.3
